{% extends 'base.html.twig' %}

{% block title %}Prix du {{ award.category.value }} {{ award.title }} {{ award.year }} 
{% endblock %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"/>
{% endblock %}
{% block body_class %}h-screen
{% endblock %}

{% block body %}
    <main class="grid min-h-full grid-cols-1 lg:grid-cols-[25%_auto] lg:grid-rows-[auto_70px] grid-rows-[350px_auto_60px] transition-grid-template-columns" data-grid-main-layout>
        <aside class="bg-blue-50 pb-12 pt-8 flex flex-col px-10 @container" data-side-menu="">
            <h1 class="fullscreen:text-4xl text-3xl mb-4 flex justify-between items-center z-10" data-title>
                <span>Liste des prix </span>
            </h1>

            {% set current_path = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}

            <ul class="mb-6 overflow-y-auto list-inside list-disc">
                {% for key, list_awards in categories %}
                    <li class="pb-1 text-xl text-gray-900 ">
                        {{ key|capitalize }}
                        <ul class="text-base ml-6 mb-4 overflow-y-auto list-inside list-disc">
                            {% for award in list_awards %}
                                <li>
                                    {% set award_path = path(
                                        'awarded',
                                        {slug: award.slug, year: 2024, category: key}
                                    ) %}
                                    <a 
                                        href="{{ award_path }}" 
                                        class="hover:text-blue-900 hover:underline hover:underline-offset-1 {% if current_path == award_path %} text-blue-700 font-bold {% endif %}">
                                        {{award.title}}
                                    </a>
                                </li> 
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>Pas de prix pour cette année</li>
                {% endfor %}
            </ul>
        </aside>
        <section class="lg:col-start-2 lg:row-start-1 pb-12 pt-8 px-10 pl-12 transition-width relative" data-content="">
            <button type="button" class="absolute right-3 top-3 flex items-center gap-1" data-btn-toggle-fullscreen aria-label="Mettre en mode plein écran" title="Mettre en mode plein écran">
                <span class="text-sm">Plein écran</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"/>
                </svg>
            </button>

            <header class="flex justify-between flex-col-reverse lg:flex-row">
                <h1 class="">
                    <span class="text-2xl">
                        Festival Les Talents de l'IUT {{ award.year }}
                    </span><br>
                    {# <span class="text-8xl relative z-10">Prix du {{ award.category.value }}</span><br>
                    <span class="bg-blue-700 text-white font-bold px-2 py-0.5 text-3xl lg:text-9xl">{{ award.title }}</span> #}
                    {# <span class="text-2xl">Prix du {{ award.category.value }} {{ award.year }}</span><br>
                    <span class="text-3xl lg:text-5xl bg-blue-700 text-white font-bold px-2 py-0.5">{{ award.title }}</span> #}
                </h1>
                {% include 'front/components/logos.html.twig' %}
            </header>

            {# {% for awarded in award.listWinners %}
                {{awarded.firstname}} {{awarded.lastname}} 
            {% endfor %} #}
            <div class="mt-6">
                {% include 'front/components/laurel-icon.html.twig' %}
                <h1 class="text-center">
                    <span class="text-8xl relative z-10">Prix du {{ award.category.value }}</span><br>
                    <span class="bg-blue-700 text-white font-bold px-2 py-0.5 text-3xl lg:text-9xl">{{ award.title }}</span>
                </h1>
            </div>
        </section>
        <footer class="lg:col-span-2 lg:col-start-1 lg:row-start-2 bg-blue-700 text-white text-center flex justify-center flex-col">
            {% include 'front/components/footer-content.html.twig' %}
        </footer>
    </main>
    {% include 'drawing_eloquence/templates.html.twig' %}
{% endblock %}
