{% extends 'base.html.twig' %}

{% block title %}Tirage au sort concours d'éloquence
	{{ current_year }}
{% endblock %}
{% block head %}
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"/>
{% endblock %}
{% block body_class %}h-screen
{% endblock %}

{% block body %}
	<main class="grid min-h-full grid-cols-1 lg:grid-cols-[25%_auto] lg:grid-rows-[auto_70px] grid-rows-[350px_auto_60px] transition-grid-template-columns" data-grid-main-layout>
		<aside class="bg-blue-50 pb-12 pt-8 flex flex-col px-10 @container" data-side-menu="">
			<h1 class="fullscreen:text-4xl text-3xl mb-4 flex justify-between items-center z-10" data-title>
				<span>Orateurs en lice (<span data-remaining-participants>{{ list_participants|length }}</span>/{{ list_participants|length }})</span>
			</h1>

			<ul data-list-participants="{{ list_participants_json }}" class="mb-6 overflow-y-auto list-inside list-disc max-h-[50%]">
				{% for participant in list_participants %}
					<li class="pb-1 text-gray-900 fullscreen:text-xl transition-opacity" data-participant-id={{ participant.id }}>
						<span>{{participant.firstname}}</span>
						<span class="font-bold">{{participant.lastname}}</span>
					</li>
				{% else %}
					<li>Pas de participants pour cette année</li>
				{% endfor %}
                    {% if app.environment == 'dev' %}
					<li class="mt-5 font-bold text-red-800"><a href="{{ path('admin')}}" target="_blank">Accéder à l'admin</a></li>
                    {% endif %}
			</ul>
			{% if list_participants|length > 0 %}
				<button data-btn-random-participant class="bg-blue-700 rounded-lg text-slate-50 py-5 px-11 hover:bg-blue-900 disabled:opacity-75 text-lg">Tirer au sort</button>
			{% endif %}
		</aside>
		<section class="lg:col-start-2 lg:row-start-1 pb-12 pt-8 px-10 pl-12 transition-width relative" data-content="">
			<button type="button" class="absolute right-3 top-3 flex items-center gap-1" data-btn-toggle-fullscreen aria-label="Mettre en mode plein écran" title="Mettre en mode plein écran">
				<span class="text-sm">Plein écran</span>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"/>
				</svg>
			</button>
			<header class="flex justify-between flex-col-reverse lg:flex-row">
				<h1 class="h-fit">
					<span class="text-2xl lg:text-3xl">Festival Les Talents de l'IUT</span><br>
					<span class="text-3xl lg:text-5xl">Concours d'éloquence {{ current_year }}🎤</span>
				</h1>
				<section class="flex gap-x-6 flex-wrap">
					<img class="w-10 lg:w-20 object-contain" src="{{ asset('images/logo-cyu.png') }}" alt="Logo CY IUT">
					<img class="w-10 lg:w-20 object-contain" src="{{ asset('images/logo-mmi.png') }}" alt="Logo MMI">
					<img class="w-10 lg:w-20 object-contain" src="{{ asset('images/logo-talents-iut.png') }}" alt="Logo Les talents de l'IUT">
				</section>
			</header>
			<div>
				<div class="mt-12 mb-6 text-transparent" data-participant>
					<p class="text-6xl lg:text-9xl fullscreen:text-11xl" data-participant-name></p>
					<p class="text-xl fullscreen:text-2xl" data-participant-formation>BUT MMI</p>
					<p class="text-2xl fullscreen:text-3xl bg-blue-700 text-white w-fit px-2 py-1 mt-3 hidden" data-participant-subject>La fin est-elle un nouveau départ ?</p>
				</div>

			</div>
		</section>
		<footer class="lg:col-span-2 lg:col-start-1 lg:row-start-2 bg-blue-700 text-white text-center flex justify-center flex-col">
			{% include 'front/components/footer-content.html.twig' %}
		</footer>
	</main>

	{% include 'drawing_eloquence/templates.html.twig' %}
{% endblock %}
