{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_actions %}
	{{ form_widget(form.saveAndContinue, {"label": "<i class='action-icon far fa-edit'></i> Sauvegarder et modifier"}) }}
	{{ form_widget(form.saveAndReturn, {
        "label": "Sauvegarder les modifications",
        "class": "btn btn-primary bg-btn-primary",
    }) }}
{% endblock %}

{% block content_title %}
	Éditer le logo du festival
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tailwindcss') }}
{% endblock %}

{% block main %}
	{{ form_start(form, {'attr': {'id': 'form_edit_logo'}}) }}
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	<table class="table relative table-fixed">
		<thead>
			<tr>
				<th scope="col" class="text-center">Nouveau logo</th>
				<th scope="col" class="text-center">Logo actuel</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="flex justify-center items-center h-[16rem]">
						<img src="" alt="" data-logo-img class="h-full">
					</div>
				</td>
				<td>
					<div class="flex justify-center items-center h-[16rem]">
						<img src="{{ asset("images/logo-talents-iut.png")}}" class="h-full" alt="">
					</div>
				</td>
			</tr>
			<tr>
				<td class="">
					<p class="absolute text-4xl right-2/4 top-2/4 translate-y-2/4 m-0">
						<i class="fa-solid fa-arrow-right "></i>
					</p>
					<div class="field-text form-group">
						{{ form_label(form.logo) }}
						<div class="form-widget">
							{{ form_widget(form.logo) }}
							<small class="form-text form-help">{{ form_help(form.logo) }}</small>
						</div>
						<div class="form-error">
							{{ form_errors(form.logo, { "attr": { "class": "invalid-feedback d-block" }}) }}
						</div>
					</div>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	{{ form_end(form) }}
{% endblock %}
