{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
	Divers
{% endblock %}

{% block head_stylesheets %}
    {{ encore_entry_link_tags('tailwindcss') }}
    {{ parent() }}
{% endblock %}

{% block main %}
	<div class="grid grid-cols-4 grid-rows-5 gap-3">
		<a href="{{ path('admin_misc_update_logo')}}" class="flex max-w-sm p-6 bg-white border border-gray-200 rounded-lg hover:bg-gray-300 flex-col">
			<figure class="mb-2 flex justify-center items-center">
				<img width="200" src="{{ asset("images/logo-talents-iut.png")}}" alt="">
			</figure>
			<p class="font-normal text-xl text-center">Changer le logo du festival</p>
		</a>
		<a href="{{ path('admin_misc_update_event_name')}}" class="justify-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg hover:bg-gray-300 flex flex-col">
			<p class="font-normal text-xl text-center mt-auto mb-0">Changer le nom du festival</p>
            <p class="text-center text-xs mb-0">Nom actuel : "{{event_name}}"</p>
		</a>
	</div>
{% endblock %}
